.container-planos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .flex-planos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    .hide-desktop{
      display: none;
    }
  }

}

@media screen and (min-width: 576px) {
  .container-planos {

    .flex-planos {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .hide-desktop{
        display:block;
      }
  
      .hide-on-big {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 990px) {
  .container-planos {
    flex-direction: row;

  }
}

// .sec-plan {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
